.cloud {
  position: absolute;
  animation: moveClouds 30s linear infinite;
}

.cloud-part1, .cloud-part2, .cloud-part3 {
  position: absolute;
  border-radius: 50%;
  background: white;
  opacity: 0.8;
}

.cloud-part1 {
  width: 60px;
  height: 60px;
}

.cloud-part2 {
  width: 80px;
  height: 80px;
  left: 50px;
  top: -20px;
}

.cloud-part3 {
  width: 50px;
  height: 50px;
  left: 90px;
  top: 10px;
}

@keyframes moveClouds {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
